section h2 {
  margin-top: 0;
}

@media (max-width: 600px) {
  header {
    text-align: center;
  }

  .logo {
    justify-content: center;
    margin-bottom: 10px;
  }

  nav {
    justify-content: center;
  }
}

.pdf-embed {
  width: 100%;
  height: 500px;
  border: 1px solid #444;
  margin-bottom: 20px;
}

/* Images */
/* Example CSS for Image Styling */
img {
  border: 1px solid #454545; /* Thumbnail border */
  padding: 5px; /* Thumbnail padding */
  width: auto; /* Correct width value */
  display: block; /* Center horizontally */
  margin: 0 auto; /* Center horizontally */
  max-width: 100%; /* Responsive image */
  height: auto; /* Responsive image */
  transition: transform 0.3s; /* Hover effect transition */
}

img:hover {
  transform: scale(1.1); /* Optional hover effect */
}

.img-2 {
  border: 1px solid #ddd; /* Thumbnail border */
  padding: 5px; /* Thumbnail padding */
  width: auto; /* Correct width value */
  display: block; /* Center horizontally */
  margin: 0 auto; /* Center horizontally */
  max-width: 100%; /* Responsive image */
  height: auto; /* Responsive image */
  filter: grayscale(100%); /* Image filter (grayscale) */
  transition: transform 0.3s; /* Hover effect transition */
}

.img-2:hover {
  transform: scale(1.1); /* Optional hover effect */
}
