
.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #F8F8F8;
  color: ;
}

    header {
      background-color: #E74848;
      color: #fff;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    header h1 {
      margin: 0;
      font-size: 2em;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      height: 50px;
      margin-right: 10px;
    }

<!-----------button logic------------------->

/* Style your navigation bar */
nav {
    background-color: #52b2cf;
    overflow: hidden;
}

/* Style your navigation links */
.navigation li {
    float: left;
    margin-left: 50px;
}

.navigation li a {
    /* Your existing styles */
}


  .nav-square {
 display: none;
    }
    .nav-square-toggle {
      display: inline-block;
      width: 140px;
      height: 24px;
      background-color: none;
      border-radius: 10.258px;
      margin: 10.258px;
      text-align: center;
      line-height: 25.258px;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }
    .nav-square2 {
            display: inline-block;
            width: 170px;
            height: 25px;
            background-color: Red;
            border-radius: 10px;
            margin: 10px;
            text-align: center;
            line-height: 25px;
            font-size: 16px;
            color: white;
            cursor: pointer;
        }
.hidden {
      display: inline-block;
      width: 150.258px;
      height: 25.258px;
      background-color: Red;
      border-radius: 10.258px;
      margin: 10.258px;
      text-align: center;
      line-height: 25.258px;
      font-size: 16px;
      color: white;
      cursor: pointer;
}

<!-----------------End of Button Logic-------------------->
    main {
      padding: 20px;
    }

    footer {
      background-color: #E74848;
      color: #fff;
      padding: 10px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
    }

    .content {
      background-color: #E4E4E4;
      padding: 20px;
      border: 1px solid #444;
      margin-bottom: 40px;
    }

    section h2 {
      margin-top: 0;
    }

    @media (max-width: 600px) {
      header {
        text-align: center;
      }

      .logo {
        justify-content: center;
        margin-bottom: 10px;
      }

      nav {
        justify-content: center;
      }
    }

    .pdf-embed {
      width: 100%;
      height: 500px;
      border: 1px solid #444;
      margin-bottom: 20px;
    }
